
div.canvas{
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 3px solid #333;
}

h1.boom > span.boom {
    font-size: 40rem;
}

section.warzone {
    border: 1px dashed #5e5e5e;
    text-align: center;
}

section.warzone h1.vs {
    font-size: 3em;
    font-weight: bolder;
}

section.warzone span.faction {
    font-weight: bolder;
}

section.warzone div.actionBar {
    width: 50%;
    margin: 0.5em auto;
    border: 1px solid crimson;
}