<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>HelloVue</title>
</head>
<body>
  <div id="appEntry">
    <p>{{ gdh }}</p> 
    <p>{{ darnify("Billy") }}</p>
    <h1 v-on:click="boomed = !boomed" v-bind:class="booming" >Click to <span class="boom">Boom</span></h1>
    <a v-bind:href="site">BDK</a>
    <p v-html="html"></p>
    <p>
      <input type="text" v-bind:value="gdh">
    </p>
    <div>
      <h3>Steve问你这个网页做的漂不漂亮 [v-if] [v-show]</h3>
      <p>
        <button v-if="false">丑爆了！</button>
        <button @click="sayThanks()" v-if="true">美极了！</button>
        <button v-show="false">噗！赔我嘴里的爆米花</button>
        <button v-if="false">丑的我家的猫都吓跑了！</button>
        <button disabled="disabled" v-show="true">美！岂不美哉！（5毛一条）</button>
      </p>
    </div>
  </div>

  <div id="eventBinding">
    <h2>[v-for] [v-if] [event-binding]</h2>
    <table>
      <thead>
        <tr>
          <td>
            <span>#</span>
          </td>
          <td>
            <span>CDKey</span>
          </td>
          <td>
            <span>Number</span>
          </td>
          <td>
            <span>Operation</span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="let (faction, index) of cdkwar">
          <td>
              <span>{{ index }}</span>
          </td> 
          <td>
            <span style="text-transform: uppercase;">{{ faction.cdk }}</span>
          </td> 
          <td>
            <span>{{ faction.num }}</span>
          </td>
          <td>
            <div>
              <!-- note that template will not get rendered by vue -->
              <template v-if="faction.name === 'Billy'">
                  <button @click.once="change(faction.name, '+', 1)" v-on:dblclick="change(faction.name, '+', 2000)">+</button>
                  <button @click="change(faction.name, '-', 1)" v-on:dblclick="change(faction.name, '-', 2000)">-</button>
                  <a v-on:click.prevent="bombardPHP(faction.name, faction.bFactor)" v-bind:href="faction.php">轰炸主页</a>
              </template>
              <template v-else-if="faction.name === 'Mile'">
                  <button @click="change(faction.name, '+', 1)" v-on:dblclick.once="change(faction.name, '+', 3000)">+</button>
                  <button @click="change(faction.name, '-', 1)" v-on:dblclick="change(faction.name, '-', 300)">-</button>
                  <a v-on:click.prevent="bombardPHP(faction.name, faction.bFactor)" v-bind:href="faction.php">轰炸主页</a>
              </template>
              <template v-else="faction.name === 'Steve'">
                  <button @click="change(faction.name, '+', 1)" v-on:dblclick="change(faction.name, '+', 2000)">+</button>
                  <button @click="change(faction.name, '-', 1)" v-on:dblclick.once="change(faction.name, '-', 2000)">-</button>
                  <a v-on:click="bombardPHP(faction.name, faction.bFactor)" v-bind:href="faction.php">轰炸主页</a>
              </template>
            </div>
          </td> 
        </tr>
      </tbody>
    </table>
    <div class="canvas" v-on:mousemove="updateXY">
      <!-- no need to specify parameter "e" in parenthesis () 'cuz vue automatically fetch that -->
      {{ x }}, {{ y }}
    </div>
    <div>
      <h2>Keyboard Event</h2>
      <small>Press Enter when finished entering</small>
      <input v-on:keyup.enter="logInputContent" v-model="kEventMsg" type="text" placeholder="enter something here">
      <small>In fact, it also involves a kind of two-way binding.</small>
    </div>
  </div>

  <div id="computedPro">
    <h2>Computed Property</h2>
    <section>
      <h3>Originally using method:</h3>
      <small>Watch out in console!</small>
      <div>
        <button @click="dog++">+ Dog</button>
        <button @click="cat++">+ Cat</button>
        <button @click="fish++">+ Fish</button>
      </div>
      <div>
        <p>Remaining dog: {{ calcDog() }}</p>  
        <p>Remaining cat: {{ calcCat() }}</p>  
        <p>Remaining fish: {{ calcFish() }}</p>  
      </div>
      <small>Dog, cat and fish get computed every time.</small>
    </section>

    <section>
      <h3>now using computed property:</h3>
      <small>Watch out in console!</small>
      <div>
        <button @click="hound++">+ Hound</button>
        <button @click="leopard++">+ Leopard</button>
        <button @click="shark++">+ Shark</button>
      </div>
      <div>
      <p>Remaining hound: {{ calcHound }}</p>  
      <p>Remaining leopard: {{ calcLeopard }}</p>  
      <p>Remaining shark: {{ calcShark }}</p>  
      </div>
      <small>Hound, leopard and shark are only computed when needed.</small>
    </section>

  </div>

  <section class="warzone">
    <h2>WarZone [vue instance interaction]</h2>
    <div id="factB">
      <p><span class="faction">BHouse</span></p>
      <p><span>{{ status }}</span></p>
      <div class="actionBar">
        <h3>Actions</h3>
        <p><button @click="repair()">Repair</button></p>
      </div>
    </div>
    <h1 class="vs">VS</h1>
    <div id="factS">
      <p><span class="faction">SHouse</span></p>
      <p><span>{{ status }}</span></p>
      <div class="actionBar">
        <h3>Actions</h3>
        <p><button @click="fireBHouse()">fire AMP to BHouse</button></p>
      </div>
    </div>

  </section>

  <section id="cmpTest">
    <h2>Template</h2>
    <p>longyiszh: </p>
    <vote></vote>
    <p>valorad: </p>
    <vote></vote>
  </section>


  <script src="https://unpkg.com/vue"></script>
  <script src="js/app.js"></script>
</body>
</html>